html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    }
    #wrapper{
        position: relative;
        min-height: 100vh;
      }
    #body-content{
        padding-bottom: 2.5rem;    /* altura do rodapé */
    }

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(32, 29, 29);
    margin: 0;
    padding: 0;
}
/*Estilo da barra de navegação*/
.navbar{
    height: 100px;
    background-color: rgb(32, 29, 29);
    color: white;
}


 .nav-item  a{
    color: white;
 }

.navbar-brand:hover{
    background-color: transparent;
}



a.nav-link:hover{
    color: rgb(32, 29, 29);
    background-color: lightgreen;
    border-radius: 50px;
 }

.nav-item .dropdown .dropdown-menu a{
    color: rgb(32, 29, 29);
    background-color: black;
}

.nav-link .dropdown-toggle{
    color: rgb(32, 29, 29);
}

ul.dropdown-menu{
    background-color: lightgreen;
    color: rgb(32, 29, 29);
    width: 10px;
}

.dropdown-menu a:hover{
    color: white;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* corpo do banner e descrição */

main{
    background-color: black;
}
#containerBanner{
    display: flex;
    background-color: lightgreen;
    padding: 40px 20px;
}

div#carouselExampleCaptions img{
    height: 500px;
}

.carousel-inner{
    border-radius: 20px;
    box-shadow: 2px 6px 8px 0 rgb(32, 29, 29);
}

div.description{
    width: 35%;
    height: 100%;
    font-size: 18px;
    text-align: justify;
    color: rgb(32, 29, 29);
}

#produtosDestaques{
    margin-top: 50px;
}

#produtosDestaques h1{
    color: lightgreen;
    text-shadow: 0.1em 0.1em 0.2em lightgray;
    
}

.destaquesItem img{
    max-width: 400px;
    max-height: 400px;
}

.produtoItem{
    border: 1px solid lightgrey;
    border-radius: 20px;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.destaquesItem{
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.destaquesItem img{
    border-radius: 20px;
}

.btns{
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    
}
.btns button{
    border: none;
    background-color: rgb(39, 39, 39);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.btns button:hover{
    color: lightgreen;
}
.destaquesItem:hover .btns{
    bottom: 0;
}

.produtoTipo{
    font-size: 13px;
    opacity: 0.8;
}
.produtoNome{
    transition: all 0.3s ease-in-out;
}
.produtoNome:hover{
    color: lightgreen!important;
}
.produtoPreco{
    color: lightgreen;
}


#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* altura do rodapé */
    background-color: rgb(32, 29, 29);
    color: white;
    text-align: center;
  }
