*{
    margin: 0;
    padding: 0;;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
/*Estilo da barra de navegação*/
.navbar{
    height: 100px;
    background-color: rgb(32, 29, 29);
    color: white;
}

.navbar{
    height: 100px;
    background-color: rgb(32, 29, 29);
    color: white;
}

 .nav-item  a{
    color: white;
 }

.navbar-brand:hover{
    background-color: transparent;
}

a.nav-link:link{
    color: white;
    background-color: rgb(32, 29, 29);
    border-radius: 50px;
 }

a.nav-link:hover{
    color: rgb(32, 29, 29);
    background-color: lightgray;
    border-radius: 50px;
 }

.nav-item .dropdown .dropdown-menu a{
    color: white;
    background-color: black;
}

.nav-link .dropdown-toggle{
    color: white;
}

ul.dropdown-menu{
    background-color: rgb(32, 29, 29);
}
/* corpo do banner e descrição */

main{
    background-color: black;
}
#containerBanner{
    display: flex;
    background-color: lightgreen;
    margin-top: 20px;
    padding: 20px;
}

div#carouselExampleCaptions img{
    height: 300px;
}

.carousel-inner{
    border-radius: 20px;
}

div.description{
    width: 35%;
    height: 100%;
    font-size: 18px;
    text-align: justify;
    color: rgb(32, 29, 29);
}






footer{
    display: flex;
    text-align: center;
    background-color: rgb(32, 29, 29);
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    align-items: center;
}