*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
.container{
    width: 100%;
    height: 50px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    align-content: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

li {
    text-align: center;
    display: inline;
    float: right;
    margin: 5px;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-logo li{
    display: flex;
    align-content: center;
    padding-left: 100px;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}

.nav-item a:hover {
    background-color: lightgray;
    border-radius: 50px;
    margin: 2px;
    padding: 5px;
    color: white;
    border: 1px solid white;

}




