html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    }

    #wrapper{
        position: relative;
        min-height: 100vh;
      }
    #body-content{
        padding-bottom: 2.5rem;    /* altura do rodapé */
        background-color: rgb(32, 29, 29);
    }

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(32, 29, 29);
    margin: 0;
    padding: 0;
}
/*Estilo da barra de navegação*/
.navbar{
    height: 100px;
    background-color: rgb(32, 29, 29);
    color: white;
}


 .nav-item  a{
    color: white;
 }

.navbar-brand:hover{
    background-color: transparent;
}


a.nav-link:hover{
    color: white;
    background-color: rgb(3, 124, 3);
    border-radius: 50px;
 }


.nav-item .dropdown .dropdown-menu a{
    color: rgb(32, 29, 29);
    background-color: rgb(32, 29, 29);
}

.nav-link .dropdown-toggle{
    color: rgb(32, 29, 29);
}

ul.dropdown-menu{
    background-color: rgb(32, 29, 29);
    color: rgb(3, 124, 3);
    width: 100%;
}

.dropdown-menu a:hover{
    color: white;
    background-color: rgb(3, 124, 3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* corpo do banner e descrição */

main{
    background-color: rgb(32, 29, 29);
}
#containerBanner{
    display: flex;
    background-color: rgb(3, 124, 3);
    padding: 40px 20px;
}

div#carouselExampleCaptions img{
    height: 500px;
}

.carousel-inner{
    border-radius: 20px;
    box-shadow: 2px 6px 8px 0 rgb(32, 29, 29);
}

div.description{
    width: 35%;
    height: 100%;
    font-size: 18px;
    text-align: justify;
    color: white;
}

#produtosDestaques{
    margin-top: 50px;
}

#produtosDestaques h1{
    color: white;
    
}

.containerDestaques{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
}

.destaquesItem img{
    height: 200px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid lightgrey;
}

.produtoItem{
    border-radius: 20px;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.destaquesItem{
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}


.btns{
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 12px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    
}
.btns button{
    border: none;
    background-color: rgb(32, 29, 29);
    color: #fff;
    transition: all 0.3s ease-in-out;
    
}

.btnCarrinho{
    border-bottom-left-radius: 17px;
}

.btnView{
    border-bottom-right-radius: 17px;
}

.btns button:hover{
    color: rgb(3, 124, 3);
}
.destaquesItem:hover .btns{
    bottom: 0;
}

.produtoTipo{
    font-size: 13px;
    opacity: 0.8;
    color: lightgray;
}

.produtoNome{
    transition: all 0.3s ease-in-out;
    opacity: 0.3;
}

a.produtoNome{
    color: lightgray;
}

.produtoNome:hover{
    color: rgb(3, 124, 3)!important;
    opacity: 1;
}

.produtoPreco{
    color: rgb(3, 124, 3);
}


#footer {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* altura do rodapé */
    background-color: rgb(32, 29, 29);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

