*{
    margin: 0;
    padding: 0;;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
/*Estilo da barra de navegação*/
.navbar{
    height: 100px;
    background-color: rgb(32, 29, 29);
    color: white;
}

.navbar{
    height: 100px;
    background-color: rgb(32, 29, 29);
    color: white;
}

 .nav-item  a{
    color: blue;
 }

.navbar-brand:hover{
    background-color: transparent;
}
a:hover{
    color: black;
    background-color: lightgray;
    border-radius: 50px;
 }


.nav-item .dropdown .dropdown-menu a{
    color: white;
    background-color: black;
}

ul .dropdown-menu.show{
    background-color: black;
}

