*{
    margin: 0;
    padding: 0;
}

    #wrapper{
        position: relative;
        min-height: 100vh;
      }
    #body-content{
        padding-bottom: 2.5rem;    /* altura do rodapé */
        background-color: rgb(32, 29, 29);
    }

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(32, 29, 29);
   
}

/*Estilo da barra de navegação*/
.navbar{
    width: ;
    height: 100px;
    background-color: rgb(32, 29, 29);
    color: white;
    border-bottom: 1px solid white;
}


a.nav-link{
    color: white;
}

 
.navbar-brand:hover{
    background-color: transparent;
}


a.nav-link:hover{
    color: white;
    background: radial-gradient(
        circle at 0% 100%,
        #11630673 4%,
        #087904e5 30%,
        #11ad0ce5 62%,
        #2fe629e5 85%,
        #32cf02
    );
    border-radius: 50px;
 }


.nav-item.dropdown.dropdown-menu a{
    color: white;
    background-color: rgb(32, 29, 29);
}


ul .dropdown-menu{
    background-color: rgb(32, 29, 29);
    width: 100%;
}

.dropdown-menu a{
    color: white;
  }

.dropdown-menu a:hover{
    color: white;
    background: radial-gradient(
        circle at 0% 100%,
        #11630673 4%,
        #087904e5 30%,
        #11ad0ce5 62%,
        #2fe629e5 85%,
        #32cf02
    );
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* corpo do banner e descrição */

main{
    background-color: rgb(32, 29, 29);
}
#containerBanner{
    display: flex;
    background: radial-gradient(
        circle at 0% 100%,
        #11630673 4%,
        #087904e5 30%,
        #11ad0ce5 62%,
        #2fe629e5 85%,
        #32cf02
    );
    padding: 40px 20px;
}

div#carouselExampleCaptions img{
    height: 500px;
}

.carousel-inner{
    border-radius: 20px;
    box-shadow: 2px 6px 8px 0 rgb(32, 29, 29);
}

div.description{
    width: 35%;
    height: 100%;
    font-size: 18px;
    text-align: justify;
    color: white;
}

div.description h1{
    margin-bottom: 30px;
}

/*estilo de produtos em destaques*/
#produtosDestaques{
    margin-top: 50px;
}

#produtosDestaques h1{
    color: white;
    
}

.containerDestaques{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
}

.destaquesItem img{
    height: 200px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid lightgrey;
}

.produtoItem{
    border-radius: 20px;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.destaquesItem{
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}


.btns{
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 12px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    
}
.btns button{
    border: none;
    background-color: rgb(32, 29, 29);
    color: #fff;
    transition: all 0.3s ease-in-out;
    
}

.btnCarrinho{
    border-bottom-left-radius: 17px;
}

.btnView{
    border-bottom-right-radius: 17px;
}

.btns button:hover{
    color: rgb(3, 124, 3);
}
.destaquesItem:hover .btns{
    bottom: 0;
}

.produtoTipo{
    font-size: 13px;
    opacity: 0.8;
    color: lightgray;
}

.produtoNome{
    transition: all 0.3s ease-in-out;
    opacity: 0.3;
}

a.produtoNome{
    color: lightgray;
}

.produtoNome:hover{
    color: rgb(3, 124, 3)!important;
    opacity: 1;
}

.produtoPreco{
    color: rgb(3, 124, 3);
}


/*Estilo do rodapé*/
.footer {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(32, 29, 29);
    color: white;
    padding: 10px;
    justify-content: space-around;
    align-items: flex-start;
    border-top: 1px solid rgb(3, 124, 3);
}

.footer-brand{
    display: flex;
    justify-content: flex-start;
    width: 25%;
    margin-left: 25px;
}

.contatos{
    justify-content: flex-start;
    width: 100%;
}

.contatos a{
    text-decoration: none;
    color: white;
}



.containerFooter ul{
    display: flex;
    justify-content: flex-end;
}

.footerList li a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.copyRight{
    justify-content: center;
    font-size: 10px;
}

/* botão voltar ao topo */

#voltar-topo{
    position: fixed;
    bottom: 5px;
    right: 50px;
    border: 1px solid rgb(3, 124, 3);
    color: rgb(3, 124, 3);
}

#voltar-topo:hover{
    background-color: lightgray;
}

/* login */

#section-login{
    margin-top: 100px;
    color: white;
}

#section-login h1{
    text-align: center;
    color: white;
}

#section-login input{
    width: 100%;
}

#bt-login.btn.btn-primary{
    background-color: black;
    border: 1px solid rgb(3, 124, 3);
}

#bt-login.btn.btn-primary:hover{
    background-color: rgb(3, 124, 3);
    border: 1px solid lightgray;
}
/*cadastro*/

#section-cadastro{
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 50px;
}

#form-cadastrar{
    padding: 50px;
    display: none;
}

.btn.btn-info{
    background-color: rgb(3, 124, 3);
    border: 1px solid lightgray;
    color: white;
}

.btn.btn-info:hover{
    background-color: rgb(0, 161, 0);
    border: 1px solid lightgray;
    color: white;
}

#bt-cadastrar{
    background-color: black;
    border: 1px solid rgb(3, 124, 3);
}

#bt-cadastrar:hover{
    background-color: rgb(3, 124, 3);
    border: 1px solid lightgray;
}

#login input{
    border: 1px solid rgb(0, 161, 0);
}